.homeBackground {
    --hdr-gradient: linear-gradient(
            90deg in oklab,
            oklch(50% 0.5 220) 0%, oklch(95% 0.47 155) 100%
    );
    --sdr-gradient: linear-gradient(90deg, #0069ff 0%, #0f0 100%);

    background: var(--hdr-gradient);

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

.imageContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 650px;
    margin: 0 auto;

}

.imageBox {
    margin: 5vw 2vw;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.double {
    scale: 150%;
    padding: 30px;
}

.imageBox img {
    max-width: 100%;
    height: auto;
    display: block;
    scale: 200%;
}

.imageName {
    margin-top: 25px;
    font-size: 20px;
    font-family: Cambria, serif;
}

.fitImage {
    width: 30px;
    height: auto;
}
