
.homeBackground {
    --hdr-gradient: linear-gradient(
            124deg in oklab,
            oklch(94% 0.22 58) 0%, oklch(90% 0.36 18) 111% 111%
    );
    --sdr-gradient: linear-gradient(124deg, #ffbf1e 0%, #ff047d 111% 111%);

    background: var(--hdr-gradient);

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    font-size: 50px;
}

.passwordRow {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.passwordBox {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: black;
}

.cent {
    text-align: center;
}

.githubLink {
    font-weight: bold;
    text-decoration-thickness: 2px;
    color: black;
    text-decoration: underline;

}

.githubLinkWrapper {
    font-size: 30px;
    text-decoration: none;
}

.githubLinkEmoji {
    color: transparent;
    text-shadow: 0 0 0 black;
    text-decoration: none;

}

.innerHeader {
    font-size: 20px;
    line-height: 14px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    filter: grayscale(1);
}

.submitButton {
    width: 140px;
    font-size: 30px;
    height: 40px;
    border-style: none;
    border-radius: 10px;


    margin-top: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.response {
    font-size: 40px;
}